name: Generate HTML

# Controls when the action will run. Triggers the workflow on push events
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out repository under $GITHUB_WORKSPACE, so the job can access it
    - uses: actions/checkout@v2

    # Run using Python 3.8 for consistency
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
        architecture: 'x64'

    # Generate html from json
    # Pass in auto_generated access token from github actions
    - name: Generate html
      run: |
        python3 --version
        python3 scripts/generate_html.py

    # Commits all changes to the repo
    - name: Commit to the repo
      run: |
        git config --global user.name "danielkilgallon/minecraft_wiki"
        git config --global user.email "json-to-html[bot]@danielkilgallon.github.io"
        git add .
    # "echo" returns true so the build succeeds, even if no changed files
        git commit -m 'Update generated files' || echo
        git push
